header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 75px;
}
article {
    background-color: blue;
    color: red
}
.first {
    color: yellow;
}
h1:nth-of-type(2) {
    text-align: center;
    color: blue;
}
h1:last-of-type {
    text-align: right;
    background-color: green;
}
.has-border {
    border-radius: 100px;
    border: 2px green;
    border-color: green;
    background-color: yellow;
    color: blue;
    text-align: center;
    padding: 10px;
}
article:last-of-type {
    background-color: black;
    color: green;
}
.small-text {
    text-align: center;
    color: black;
    font-size: 10px;
    margin: 30% 40%;
}
.sidebar {
    text-align: right;
    color: green;
    font-size: 40px;
}
.sidebar:hover {
    color: blue;
    font-size: 50px;
    align-content: stretch;
}
.small-text:hover {
    color: blue;
    font-size: 10 px;
}