header {
    text-align: center;
font-family: fantasy;
font-style: italic;
font-size: 75px;
}
nav {
    margin-bottom: 70px;
    margin-top: 30px;
}   
article {
    background-color: black;
    color: green;
}
.first {
    color: green;
}
h1:nth-of-type(2) {
    border-radius: 100px;
border: 2px green;
border-color: green;
background-color: black;
color: orange;
text-align: center;
margin-top: 50px;
}
h1:last-of-type {
    border-radius: 100px;
border: 2px green;
border-color: green;
background-color: black;
color: orange;
text-align: center;
margin-top: 50px;
}
.has-border {
    border-radius: 100px;
border: 2px green;
border-color: green;
background-color: black;
color: orange;
text-align: center;
margin-bottom: 20px;
}
article:last-of-type {
    background-color: black;
    color: green;
}
.small-text {
    text-align: center;
    color: black;
    font-size: 10px;
    margin: 30% 40%;
}
.sidebar {
    text-align: right;
    color: green;
    font-size: 40px;
}
.sidebar:hover {
    color: blue;
    font-size: 50px;
    align-content: stretch;
}
.small-text:hover {
    color: blue;
    font-size: 10 px;
}