header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 75px;
}
article {
    background-color: blue;
    color: red
}
.first {
    color: yellow;
}
.flex {
    display: flex;
}
h1 {
    text-align: center;
    color: green;
}
.has-border {
    border-radius: 100px;
    border: 2px green;
    border-color: green;
    background-color: yellow;
    color: blue;
    text-align: center;
    padding: 30px;
}
.small-text {
    text-align: center;
    color: black;
    font-size: 10px;
}
.sidebar {
    text-align: right;
    color: green;
    font-size: 40px;
}
.sidebar:hover {
    color: blue;
    font-size: 50px;
    align-content: stretch;;
}