h1 {
    text-align: center;
    margin-bottom: 1%;
}
.flex-container {
    display: flex;
    font-style: italic;
    justify-content: space-around;
    margin: 1% 32%;
}
.flex-container2 {
    display: flex;
    font-weight: bold;
    justify-content: space-around;
    margin: 1% 32%;
}
span {
    border: 1px solid black;
    color: green;
    padding: 20px;
}
.company {
    margin: 1%  32%;
}
.city {
    margin: 1% 26%;
}
a {
    border: 1px solid black;
    box-sizing: border-box;
}